.tudo {
    background-color: #000000;
}

#main{
    width: 90%;
    margin: 0 auto;/* top/bottom - 0; left/right - auto */
    background-color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}

a {
    color: #00FF00;
}

h1{
    text-align: center;
}
#dados-contato, #foto{
    float: left;
}
#dados-contato{
    width: 70%;
}
#foto{
    width: 30%;
    text-align: right;
}
#foto img{
    width: 15vw;
    height: 25vh;
}
#formacao{
    clear: left;
}
#lista{
    color: #00FF00;
}
.subtitulo-formacao{
    padding: 1%;
}